<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">
        <img src="{{{uiRootPath}}}/img/ppw-logo.png" alt="Logo" style="height: 100%; max-height: 2.5rem; margin-right: 0.5rem;">
        {{site.title}}
      </a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{or site.url siteRootPath}}}">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Libraries</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-contracts-i/index.html'}}}">PPWCode.Vernacular.Contracts.I</a>
          </div>
        </div>
        <a class="navbar-item" href="https://www.peopleware.be">By PeopleWare</a>
      </div>
    </div>
  </nav>
</header>
