<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}">
                <img src="{{{uiRootPath}}}/img/ppw-logo.png" alt="Logo" style="height: 100%; max-height: 2.5rem; margin-right: 0.5rem;">
                {{site.title}}
            </a>
            {{#if env.SITE_SEARCH_PROVIDER}}
                <div class="navbar-item search hide-for-print">
                    <div id="search-field" class="field">
                        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
                    </div>
                </div>
            {{/if}}
            <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{{or site.url siteRootPath}}}">Home</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">Libraries</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-contracts-i/index.html'}}}">PPWCode.Vernacular.Contracts.I</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-exceptions-iv/index.html'}}}">PPWCode.Vernacular.Exceptions.IV</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-exceptions-v/index.html'}}}">PPWCode.Vernacular.Exceptions.V</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-semantics-iv/index.html'}}}">PPWCode.Vernacular.Semantics.IV</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-semantics-v/index.html'}}}">PPWCode.Vernacular.Semantics.V</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-persistence-iv/index.html'}}}">PPWCode.Vernacular.Persistence.IV</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-persistence-v/index.html'}}}">PPWCode.Vernacular.Persistence.V</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-nhibernate-iii/index.html'}}}">PPWCode.Vernacular.NHibernate.III</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-vernacular-requestcontext-i/index.html'}}}">PPWCode.Vernacular.RequestContext.I</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-util-authorization-i/index.html'}}}">PPWCode.Util.Authorization.I</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-util-collection-i/index.html'}}}">PPWCode.Util.Collection.I</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-util-di-i/index.html'}}}">PPWCode.Util.DI.I</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-util-time-i/index.html'}}}">PPWCode.Util.Time.I</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-util-validation-iii/index.html'}}}">PPWCode.Util.Validation.III</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-util-validation-iv/index.html'}}}">PPWCode.Util.Validation.IV</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">Hosts</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{{relativize '/ppwcode-api-core/index.html'}}}">PPWCode.API.Core</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-server-core/index.html'}}}">PPWCode.Server.Core</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-server-core-hangfire/index.html'}}}">PPWCode.Server.Core.Hangfire</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-server-core-nservicebus/index.html'}}}">PPWCode.Server.Core.NServiceBus</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-host-core/index.html'}}}">PPWCode.Host.Core</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-host-core-hangfire/index.html'}}}">PPWCode.Host.Core.Hangfire</a>
                        <a class="navbar-item" href="{{{relativize '/ppwcode-host-core-webapi/index.html'}}}">PPWCode.Host.Core.WebApi</a>
                    </div>
                </div>
                <!--
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">Legacy</a>
                    <div class="navbar-dropdown">
                    </div>
                </div>
                  -->
                <a class="navbar-item" href="{{{relativize '/ppwcode-net/peopleware.html'}}}">By PeopleWare</a>
            </div>
        </div>
    </nav>
</header>
